#text {
	position: relative;
	font-family: 'Lobster Two', cursive;
	text-align: center;
	color: #DC940B;
}

img.attributes {
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	border: 3px solid #FFC14B;
	padding: 10px;
}

body
{
    background:#FFDE9F;
    border: solid #FFC14B;
}
